.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url("https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  text-shadow: 3px 3px 16px rgba(0,0,0, 0.6);
  color: white;
}

.article-cards {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}
.card {
  background-color: white;
  margin: 0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card p {
  color: #2b2d42;
}
.card a:hover {
  color: #d90429;
}

@media (max-width: 1280px) {
  .article-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .article-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .article-cards {
    grid-template-columns: 1fr;
  }
}
